div.oaa-message-dialog {
  position    : absolute;
  overflow    : auto;
  z-index     : 2147483647;
  padding     : 4px;
  border      : 3px solid #333;
  box-shadow  : 2px 2px 4px #555;
  background  : #fff;
  color       : #333;
  font-family : arial, helvetica, sans-serif;
}

div.oaa-message-dialog > button {
  float       : right;
  display     : inline-block;
  width       : 30px;
  border      : none;
  border-top  : 1px solid #ccc;
  border-left : 1px solid #ccc;
  box-shadow  : 1px 1px 3px #555;
  margin-top  : -1px;
  padding-bottom : 5px;
  color       : #f5f5f5;
  background  : #464646;
  font-size   : 18px;
  font-weight : normal;
}

div.oaa-message-dialog > button:hover {
  color       : #fff;
  background  : #262626;
}

div.oaa-message-dialog > h2 {
  margin      : 0;
  padding     : 8px 8px 0;
  font-size   : 22px;
}

div.oaa-message-dialog > div {
  margin      : 0;
  padding     : 10px 8px 12px;
  font-size   : 14px;
  line-height : 18px;
}

div.oaa-message-dialog > div ul {
  margin      : 0 1em 0.25em;
  padding     : 1em 1em 0;
}
